
.oe_close:after {
    content: "×";
    margin-left: 4px;
}
.d-hidden {
    display: none !important;
}
.mt--2 {
    margin-top: -6px;
}
.container_bits{ 
    a {
        cursor: pointer;
    } 
    .btn {
        padding: 0.375rem 0.75rem !important;
    }
    .header.header_bits{
        .bits_search_container{
            .bits_search_input{
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                outline: none;
                border-bottom: 1px solid #eee;
            }
        }
        .right-header{
            @media (max-width:768px) {
                padding-top: 15px !important;
                justify-content: space-between !important;
            }
        }
    }

    .ds_body_container{ 
        .ds_card_bits{
            height: 100%;
            position: relative;
            padding: 0 20px !important;
            border-radius: 14px;
            border: 1px solid #ededed;
            box-shadow: 0px 1px 2px #00000013 !important;
            cursor: pointer;
            .d-edit{
                display: none;
                position: absolute;
                top: 0px;
                right: 16px;
                font-size: 16px;
                padding: 10px;
            }
            &:hover{
                .d-edit{
                    display: flex;
                    gap: 10px;
                }
            }
            
            .d_desc_bits{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-weight: 400;
                }
            }
            .d_user_icon{
                width: 25px;
                border-radius: 20px;
            }   
            .d_icon_bits{
                i{
                    font-size: 55px; 
                }
            }
            .o_activity_color_default{
               .fa-sharing{
                    margin: 0px -4px;
                    padding: 2px 6px;
                    border-radius: 22px;
                    border: 1px solid #e7e7e7;
                    i{
                        font-size: 12px;
                        color: #202020;
                    } 
                }
            }

        }
    }
    .grid-stack-item-content{
        background-color: #fff !important; 
    }
}
// custom_view  
.oe_icon {
    float: right;
    cursor: pointer !important;
    color: #b3b3b3;
    &:hover {
        color: #666;
        text-decoration: none;
    }
}

.oe-action .oe_content{ 
    .o_column_sortable.o-sort-up, .o_column_sortable.o-sort-down{
        color: gray !important;
    }  
} 

.grid-stack-item-content .o_onboarding_container .o_onboarding {
    width: max-content;
}
.o_action{
    .header_container_bits{
        background-color: #fff;
        position: sticky;
        top: 0px;
        z-index: 2;
        overflow: visible !important;
        .o_searchview{
            // overflow-x: scroll !important;
            .o_searchview_input_container{
                display: flex;
                align-items: center;
                .o_facet_values{
                    width: max-content;
                }
                .o_facet_remove{
                    cursor: pointer !important;
                }
            }
            &::-webkit-scrollbar
            {
                width: 4px;
                height: 4px;
                background-color: #eee;
            } 
            &::-webkit-scrollbar-thumb
            {
                background-color: #c1c1c1;
            } 
        }
        .btn-primary:active {
            color: #fff !important;
        }
        .fa {
            margin-left: 3px;
            margin-right: 3px;
        }
        .filter_dropdown {
            display: none !important;
            order: 1;
            .view_mode_container_bits {
                left: -115px;
            }
        }
        @media (max-width:1024px) {
            .filter_main {
                display: none !important;
            }
            .filter_dropdown {
                display: block !important;
                position: relative;
                .view_mode_container_bits {
                    left: unset;
                    right: 10px;
                }
                .btn-toggle-sidebar {
                    float: right;
                }
            }
            .filter_v1 {
                display: none !important;
            }
            .mob_filter_bits {
                position: absolute;
                background-color: #fff !important;
                right: 10px;
                top: 31px;
                #date_selector_container_bits, #color_theme_container_bits {
                    right: 20px;
                }
                .view_mode_container_bits {
                    right: 10px;
                }
            }
        }
        @media (max-width:768px) { 
            .cnt-left{ 
                order: 1;
                padding: 0px 15px 5px 15px; 
            }
            .cnt-center{
                order: 3; 
            }
            .cnt-right{order: 2;}
            // lable{
            //     display: none;
            // }
        }
        button.btn-primary{
            background-color: var(--dash_primary_color) !important;
            border-color: var(--dash_primary_color) !important;
            &:focus,&:active,&:visited{
                box-shadow: 0px 0px 2px 2px var(--dash_primary_color) !important;
            }
        }
        button.btn-secondary{
            color: var(--dash_primary_color) !important; 
        }
        .bg-primary{
            background-color: unset !important;
            i{
                background-color: var(--dash_primary_color) !important;
                border-radius: 0.25rem;
            } 
        }
        .cnt-left{
            .bf_edit_controls{
                display: flex;
                button {
                    display: flex;
                    align-items: center;
                    width: max-content;
                }
                @media (max-width:768px) { 
                    lable{
                        display: none;
                    }
                }
            }
        }
        .cnt-center{
            text-align: center;
            h4{ 
                margin-bottom: 0;
                text-align: center;
            }
        }
        .cnt-right{
            // display: block !important; 
            .filters_btn_container{
                display: flex;
                align-items: center;
                input::placeholder{
                    color: #484848;
                }
                .dropdown-menu{
                    max-height: 425px !important;
                } 
                .filter-bits{
                    input[type='text']{
                        width: 100px;
                        padding: 3px !important;
                        margin-right: 2px;
                        text-overflow: ellipsis;
                    }
                    .dropdown-menu{
                        margin-top: 4px;
                    } 
                    .c_filters_container_bits{
                        position: absolute;
                        background: #fff;
                        .filter_value{
                            display: block;
                            width: auto;
                            padding: 3px 20px;
                            clear: both;
                            font-weight: 400;
                            color: #4A4F59;
                            text-align: inherit;
                            white-space: nowrap;
                            background-color: transparent;
                            border: 0;
                        }
                    }
                    #save_fav_filter_bits{
                        position: absolute;
                        width: max-content;
                        .fv_filter_bits::before{
                            top: 6px;
                        }
                    }
                }
                .filter-items{
                    overflow: auto;
                    &::-webkit-scrollbar
                    {
                        height: 6px !important;
                        background-color: #dddddd;
                    }
                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #acacac; 
                    }
                    i.fa-filter{
                        padding: 8px 0px;
                    }
                }
                &.f-main-container{
                    display: flex;
                    .sub-main-container{
                        display: flex;
                        border-radius: 5px !important;
                    }
                    @media (max-width:1024px) {
                        display: block !important;
                        .sub-main-container{
                            display: block !important;
                        }
                    }
                }
            }
            .time_range_filter{
                display: flex !important;
                justify-content: end;
                .date_picker_container{
                    &.d-hidden{
                        display: none !important;
                    }
                    .o_datepicker_input{
                        height: 100%;
                    } 
                }
                button.btn_apply_date{
                    border-radius: 0 5px 5px 0;
                    &:active,&:focus{box-shadow: none !important;} 
                }
                .date_filter_dropdown_bits{
                    text-transform: capitalize;
                }
                .divider{
                    width: 1px;
                    height: 100%;
                    background: #ccc;;
                }
            }
            .date_picker_bits{ 
                border: 1px solid #ccc;
                border-radius: 5px 0 0 5px;
                .o_datepicker{
                    width: 100px !important;
                }
                input{
                    border: none !important;  
                    padding: 4px !important;
                    &.from_date{
                        border-radius: 5px 0px 0px 5px !important;
                        border-right: 1px solid #ccc !important;
                    }
                    &.to_date{
                        border-radius: 0px 5px 5px 0px !important;
                    }
                }
            }
            #date_filter_selection_bits,#color_theme_selection_bits{
                font-weight: 600;
            }
            .view_mode_container_bits{
                .default_view_mode_bits{
                    padding: 5px 0px !important; 
                    text-transform: inherit !important;
                    font-size: 12px;
                    color: #fff;
                    border: 0;
                    width: 100%;
                    &:active,&:focus,&:visited{
                        border: none !important;
                    }
                } 
            }
            .dropdown-menu{
                border-radius: 4px;
            }
            .mob_filter_bits{
                width: 100%;
                position: absolute;
                background: #fff;
                right: 0;
                input.o_dropdown_toggler_btn{
                    width: 100% !important;
                }
                button.o_dropdown_toggler_btn{
                    width: 100%;
                }
                .filter-bits{
                    text-align:center !important;
                }
                &.d-hidden{
                    display: none !important;
                    width: 0%;
                    right: 100%; 
                }  
                .dropdown-menu {
                    width: 100%;
                    margin-top: 0 !important;
                }
            }
        }
    }
    .o_content{
        background-color: #fff;
        &.dark_mode_bits{
            background: #141b3a !important;
            height: 100%;
            .header_container_bits{
                background-color: #141b3a !important;
                h2{
                    color: #fff !important;
                }
                .date_picker_bits{
                    .o_datetime_input{
                        color: #fff !important;
                    }
                }
            }
            .grid-stack{   
                .no-data-msg {
                    color: #fff !important;
                }
                .grid-stack-item{ 
                    &.kpi_progress_bits{
                        -ms-overflow-style: none;
                        scrollbar-width: none; 
                        .kpi_progress_bits_2 {
                            &::-webkit-scrollbar {
                                display: none; 
                            }

                        }
                        .grid-stack-item-content{
                            background: #110c29 !important;
                        }
                    }
                    &.list-view-item{
                        .card,.card-header,.card-footer{
                            background-color: #110c29 !important;
                            h2,.records-count-bits{
                                color: #fff !important;
                            } 
                        }
                        .table-responsive{
                            background: #110c29 !important;
                            .table { 
                                border-spacing: 0 1px;
                                background: #b4b4b4;
                                thead{ 
                                    background: #110c29 !important ;
                                    color: #fff !important;
                                    tr>th{
                                        border: none !important;
                                    }
                                }
                            }  
                            #list_body{
                                background: #110c29 !important;
                                tr{
                                    color: #fff !important;
                                }
                            } 
                        } 
                        .style_1 {
                            tbody {
                                tr {
                                    background-color: #110c29 !important
                                }
                            }
                        }  
                        .style_2{  
                            table{
                                thead th {
                                    background-color: transparent !important;
                                }
                                tbody#list_body{ 
                                    
                                    tr{
                                        background: #374459;
                                        color: #fff;
                                    }
                                    tr:nth-child(odd){
                                        background: #556581 !important
                                    }
                                    tr:nth-child(even){
                                        background: #43526b !important;
                                    }
                                    td{
                                        border: none !important; 
                                    } 
                                }
                            }
                        }
                        .style_4{ 
                            .table-responsive.card-body{
                                padding: 0px !important;
                                border-radius: 0px !important;
                            }
                        }
                    }
                    .grid-stack-item-content{
                        background-color: transparent !important;
                        .stats_head,.grid_top{ 
                            background-color: #110c29 !important;
                        }
                        .trend_line.statistics.grid_center {
                            background-color: #110c29 !important;
                        }
                    }
                    &.trend_statistics_bits{
                        .style_3,.style_2{
                            background: #110c29 !important;
                        }
                    }
                }
            } 
        }     
    }
    .body_container_bits{ 
        .grid-stack-bits{
            height: 100%;
        }
        .grid-stack{     
            .grid-stack-item{ 
                .grid-stack-item-content{ 
                    border-radius: 8px; 

                    &::-webkit-scrollbar
                    {
                        width: 6px;
                        background-color: #eee;
                    }

                    &::-webkit-scrollbar-thumb
                    {
                        background-color: #dddddd;
                    }
                    .table-responsive{
                        border-radius: 8px;
                        &::-webkit-scrollbar
                        {
                            width: 6px;
                            background-color: #eee;
                        } 
                        &::-webkit-scrollbar-thumb
                        {
                            background-color: #c1c1c1;
                        }   
                    }
                    .grid-heading {
                        position: absolute;
                        top: 0;
                        .heading-content{
                            display: none;
                            opacity: 0;
                            
                        } 
                    } 
                    &:hover{ 
                        .grid-heading { 
                            display: flex;
                            align-items: center;
                            justify-content: space-between;  
                            width: 100%;
                            z-index: 100;
                            .heading-content{
                                display: flex;
                                justify-content: end;
                                padding: 5px;
                                opacity: 1;
                                width: 100%;
                                button{
                                    border: navajowhite;  
                                    border-radius: 5px;
                                    color: #545353;
                                    font-size: 14px;
                                    &:after{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
                &.statistics-bits{ 
                    &.is_action{
                        cursor: pointer;
                    }
                    .grid-stack-item-content{
                        border-width: 0 0 0 0 !important;
                        &#border_left{
                            border-width: 0 0 0 3px !important;
                        }
                        &#border_right{
                            border-width: 0 3px 0 0 !important;
                        }
                        &#border_top{
                            border-width: 3px 0 0 0 !important;
                        }
                        &#border_bottom{
                            border-width: 0 0 3px 0 !important;
                        }
                    }
                    .statistics-container{
                        height: 100%;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 100%;
                        .field_description,.field_value{
                            font-weight: bold !important;
                        }
                        .row{
                            align-items: center;
                            span.fa{
                                font-size: 5rem;
                            }
                            img{
                                width: 70px; 
                            }
                            h2{
                                font-size: 32px;
                                margin-bottom: 0;
                                font-weight: bold !important;
                                padding: 4px 0;
                            }
                            h4{
                                font-size: 18px;
                                margin-bottom: 0;
                            }
                            @media (max-width:768px) {
                                h2{
                                    font-size: 28px;
                                }
                                h4{
                                    font-size: 16px;
                                }
                            }
                        } 
                        &.style_3{ 
                            .icon-container{ 
                                border-radius: 50%;
                                width: 125px;
                                text-align: center;
                                padding: 20px;
                                i{
                                    color: #fff !important;
                                } 
                            }
                        }
                        &.style_4{ 
                            .st4_top{
                                align-items: start;
                            }
                            h4{
                                padding: 5px 0px 1px 0px;
                            }
                            .icon-container{ 
                                border-radius: 50%;
                                width: 115px;
                                text-align: center;
                                padding: 0px 15px 0px 0px;
                                img{ 
                                    padding-top: 10px;
                                }
                            }
                        } 
                        &.style_5{ 
                            .style_5.icon{ 
                                width: 64px;
                                height: 64px;
                                object-fit: fill;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                            }
                            img{
                                object-fit: fill; 
                            } 
                            i{
                                font-size: 64px !important;
                            }
                        }
                        &.style_6{  
                            .style_6.icon{ 
                                width: 64px;
                                height: 64px;
                                object-fit: fill;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                            }
                            img{
                                object-fit: fill; 
                            } 
                            i{
                                font-size: 64px !important;
                                color: #fff;
                            }
                        }
                        &.style_8{
                            span.fa{
                                font-size: 32px;
                            }
                            .row.first{
                                align-items: flex-start;
                                padding-top: 18px;
                            }
                            .icon-container{
                                padding: 5px;
                                background-color: #fff !important;
                                border-radius: 8px;
                                width: 75px;
                                height: 75px;
                                justify-content: center;
                                object-fit: fill;
                                display: flex;
                                align-items: center;
                                i{
                                    font-size: 32px !important;
                                }
                            }
                            .field_description{
                                font-size: 18px;
                                margin-bottom: 0;
                            }
                            .field_value{
                                font-size: 32px;
                                margin-bottom: 0;
                                font-weight: bold !important;
                            }
                        }
                        &.style_9{
                            h5{
                                color: #00000069;
                            }
                        }
                    }
                    
                }
                &.kpi_progress_bits{
                    .grid-stack-item-content{
                        .progress_line.kpi{
                            display: flex;
                            justify-content: center;
                        }
                        .progress_stats{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            span{
                                font-weight: bold;
                                font-size: 18px !important;
                            }
                            h1{
                                font-weight: bold;
                                color: inherit !important;
                            }
                            p{
                                font-weight: bold;
                                font-size: 14px !important;
                            }
                        } 
                    }
                    &.style_3{
                        .s_container{
                                display: flex;
                                text-align: left;
                                justify-content: space-between;
                            }
                            .progress_line {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            .progress-name {
                                color: #ffffff;
                                font-size: 18px;
                                font-weight: 500;
                            }
                        
                            .progress-bar {
                                height: 15px;
                                background-color: #eee;
                                border-radius: 8px;
                                overflow: unset !important;
                            }
                        
                            .progress-per {
                                height: 15px; 
                                border-radius: 8px;
                                width: 0;
                                transition: 1s linear;
                                position: relative;
                                &:before {
                                    content: attr(per);
                                    position: absolute;
                                    padding: 4px 6px;
                                    background-color: #e0e0e0;
                                    color: #484848;
                                    font-size: 11px;
                                    font-weight: 800;
                                    border-radius: 4px;
                                    top: -35px;
                                    right: 0;
                                    transform: translateX(50%);
                                }
                            
                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    background-color: #e0e0e0 !important;
                                    top: -16px;
                                    right: 0;
                                    transform: translateX(50%) rotate(45deg);
                                    border-radius: 2px;
                                }
                            }  
                        } 
                    }
                }
                &.trend_statistics_bits{
                    .grid-stack-item-content{
                        // overflow: hidden !important;
                        &.style_1{ 
                            .grid_top{
                                padding: 1.25rem;
                                background-color: #fff; 
                                h1{
                                    font-size: 32px;
                                    font-weight: bold !important;
                                }
                                span{
                                    font-size: 14px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                            .grid_bottom{
                                background: #eee; 
                                height: 76px;
                                .statistics_values{ 
                                    // justify-content: center;
                                    display: flex;
                                    overflow-x: auto; 
                                    overflow-y: hidden;
                                    width: 100%;
                                    .col{
                                        border-right: 1px solid #fff; 
                                    }
                                    .col:last-child {
                                        border: 0;
                                    }
                                    &::-webkit-scrollbar
                                    {
                                        width: 6px;
                                        height: 6px;
                                        background-color: #eee;
                                    } 
                                    &::-webkit-scrollbar-thumb
                                    {
                                        background-color: #c1c1c1;
                                    } 
                                }
                                .count_bits{
                                    justify-content: center;
                                    text-align: center;
                                    // overflow: hidden;
                                    text-overflow: ellipsis; 
                                    span{
                                        display: block;
                                    }
                                }
                                h1{
                                    font-size: 24px;
                                    line-height: initial;
                                    margin-bottom: 0px;
                                    color: #fff !important;
                                }
                                span{
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #fff !important;
                                    text-transform: capitalize;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    display: inline-block;
                                    text-overflow: ellipsis;
                                }
                                &::-webkit-scrollbar {
                                    width: 6px;
                                    background-color: inherit !important;
                                } 
                                &::-webkit-scrollbar-thumb {
                                    background-color: inherit !important;
                                } 
                            }
                        }
                        &.style_2{ 
                            .stats_val_bits{
                                .field_string{ 
                                    font-size: 14px !important;
                                    font-weight: bold;
                                }
                                .field_value{
                                    font-size: 32px !important;
                                    font-weight: bold;
                                } 
                            } 
                            .growth_comparision{
                                font-size: 14px !important;
                                font-weight: 500;
                            }
                        }
                        &.style_3{ 
                            .stats_val_bits{
                                .field_string{ 
                                    font-size: 14px !important;
                                    font-weight: bold;
                                }
                                .field_value{
                                    font-size: 32px !important;
                                    font-weight: bold;
                                } 
                            } 
                            .growth_comparision{
                                font-size: 14px !important;
                            }
                        }
                    } 
                }
                &.list-view-item{
                    .style_1,.style_2,.style_4{
                        .pager-bits{
                            .btn-pager{
                                border: none;
                                color: #fff !important;
                                background: #f7f7f7 ;
                                cursor: auto;
                                pointer-events: none; 
                                border-radius: 4px; 
                                &:focus,&:active,&:visited,&:hover{
                                    border: none !important;
                                    outline: 0 !important;
                                    background: #e5e5e5; 
                                }
                                &.pager{
                                    background: #e5e5e5 ;  
                                    pointer-events: auto !important;
                                    cursor: pointer !important;
                                }
                            }
                        }
                    }
                    .style_3 .pager-bits{
                        .btn-pager{
                            border: none;
                            background: #f7f7f7 !important;
                            cursor: auto;
                            color: #484848 !important;
                            pointer-events: none; 
                            border-radius: 4px; 
                            &:focus,&:active,&:visited,&:hover{
                                border: none !important;
                                outline: 0 !important;
                                background: #e5e5e5 !important; 
                            }
                            &.pager{
                                background: #e5e5e5 !important;  
                                pointer-events: auto !important;
                                cursor: pointer !important;
                            }
                        }
                    }
                    .table-responsive{
                        table {
                            // height: 100%;
                            margin: 0 !important;
                            thead{
                                position: sticky;
                                top: -1px;
                                background: #fff; 
                                // td{
                                //     border: none !important;
                                // }
                            }
                        }   
                        .sortable-itlems-list{ 
                            cursor: n-resize !important;
                            font-size: 14px;
                            i{
                                display: none ;
                                opacity: 0;
                                margin-left: 5px; 
                            } 
                            &:hover{
                                i.fa-caret-down{
                                    display: block ;
                                    opacity: 1 ;
                                }
                            }

                            &.desc{
                                &:hover{
                                    i:not(.fa-caret-up){
                                        display: none !important;
                                        opacity: 0; 
                                    }
                                }
                                i.fa-caret-up{
                                    display: block ; 
                                    opacity: 1;
                                }
                            }
                            &.asc{
                                &:hover{
                                    i:not(.fa-caret-down){
                                        display: none !important;
                                        opacity: 0; 
                                    }
                                }
                                i.fa-caret-down{
                                    display: block; 
                                    opacity: 1;
                                }
                            }
                        }
                        #list_body{
                            .action-bits{
                                cursor: pointer !important;
                            }
                        }
                    }
                    .style_1{
                        .card-header{
                            background: #fff;
                            border: none;
                        }
                        .card-footer{
                            border: none;
                        }
                        tr{
                            border: none !important;
                        }
                        th,td{
                            padding: 11px 8px;
                        }
                        table{
                            border-collapse: separate;
                            border-spacing: 0 6px; 
                            thead{
                                background-color: #272E3F !important;
                                tr{
                                    color: #fff !important;
                                } 
                            }
                            tbody#list_body{ 
                                td{
                                    border: none !important; 
                                    font-size: 14px;
                                }
                                tr{
                                    background: #fff;
                                }
                            }
                        }
                        .card-footer{
                            padding: 5px 5px;
                            background-color: #fff ;
                        }
                    } 
                    .style_2{
                        .card-header{
                            background: #fff;
                            border: none;
                        }
                        .card-footer{ 
                            border-top: 1px solid #e5e7eb;
                        }
                        tr{ 
                            font-size: 14px !important;
                        }
                        th,td{
                            padding: 11px 8px;
                        }
                        .table-responsive{
                            // border-top: 1px solid #eee;
                            border-radius: 0px !important;
                            background-color: transparent !important; 
                        }
                        table{ 
                            thead{
                                background-color: #f9fafb !important; 
                                font-size: 14px;
                                th{
                                    background-color: #f9fafb;
                                    border: 1px solid #e5e7eb;
                                }
                            }
                            tbody#list_body{ 
                                tr:nth-child(odd){
                                    background: #F4F4F4 !important;
                                }
                                tr:nth-child(even){
                                    background: #fff !important;
                                }
                                td{
                                    border: none !important; 
                                }
                                tr{
                                    background: #fff;
                                }
                            }
                        }
                        .card-footer{
                            padding: 5px 5px;
                            background: #fff;
                        }
                    }
                    .style_3{ 
                        .card-header{
                            background: #fff;
                            border: none;
                        }
                        .card-footer{
                            border: none;
                        }
                        tr{
                            border: none !important;
                        }
                        th,td{
                            padding: 11px 8px;
                        }
                        .table-responsive{ 
                            border-radius: 0px !important;
                        }
                        table{ 
                            border-collapse: separate;
                            border-spacing: 0 1px; 
                            thead{ 
                                th{
                                    border: none;
                                }
                            }
                            tbody#list_body{ 
                                background-color: #272E3F !important;
                                tr{
                                    background-color: #272E3F !important;
                                    color: #fff;
                                }
                                td{
                                    border: none !important; 
                                    font-size: 14px;
                                    color: #fff !important;
                                }
                                tr{
                                    background: #fff;
                                }
                            }
                        }
                        .card-footer{
                            padding: 5px 5px;
                        }
                    }
                    .style_4{
                        .table-responsive{
                            // border-radius: 8px;
                            padding: 0px 15px !important;
                            background-color: #fff !important;
                        }
                        .card-header{
                            background: #fff;
                            border: none;
                        }
                        .card-footer{
                            border: none;
                        }
                        tr{
                            border: none !important;
                        }
                        th,td{
                            padding: 11px 8px;
                        } 
                        table{  
                            thead{ 
                                border-bottom: 2px solid #eee;
                                th{
                                    border: none;
                                }
                            }
                            tbody#list_body{ 
                                background: #fff;
                                tr{ 
                                    color: #484848;
                                }
                                td{
                                    border: none !important; 
                                    font-size: 14px;
                                } 
                            }
                        }
                        .card-footer{
                            border-top: 2px solid #eee;
                            padding: 11px 8px;
                            background: #fff;
                        }
                    }
                }
                &.embade_iframe{
                    .iframe-content{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        background: white;
                        border-radius: 8px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                        overflow: hidden;
                        iframe{
                            height: 100%;
                            width: 100%;
                            border-radius: 8px;
                        }
                    } 
                }
            }
            
        } 
        tbody
        .grid-stack:not(.grid-stack-static){
            .grid-heading{
                display: none !important;
            }
        }
    }
    
    .icon-picker-component{
        .input-group-icon{
            i{
                font-size: 30px;
                margin-left: 10px;
            }
        }
    }
    .oe_avatar.image_bits{
        width: 100% !important;
    }
   
}

.o_dialog_container{
    .modal-dialog{
        .ds_lable{
            padding: 6px;
            display: block;
            border-radius: 10px;
            width: 100%;
            font-weight: 600;
            font-size: 14px;
        }
        .ds_selection_bits{
            font-size: 14px;
            padding: 4px 8px;
            border-radius: 8px; 
        }
        .btn-actions{
            position: absolute;
            bottom: 0px;
            background: #fff;
        }
        .modal-footer{
            padding: 6px 10px !important;
        }
    }
}
